{% extends "base.html" %}

{% block title %}Cadastrar Cliente{% endblock %}

{% block main %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <h1 class="text-2xl font-bold">Cadastrar Cliente</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="space-y-4"> <!-- Para espaçamento entre os campos -->
            {{ form.as_p|add_class:"w-full" }} <!-- Adiciona classe w-full para todos os campos -->
        </div>
        <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Salvar</button>
    </form>
    <a href="{% url 'clienteList' %}" class="text-gray-300 hover:text-white mt-4 inline-block">Voltar para lista de Clientes</a>
</div>
{% endblock %}
