{% extends "base.html" %}

{% block title %}Lista de Clientes{% endblock %}

{% block main %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <h1 class="text-2xl font-bold">Lista de Clientes</h1>
    <table class="min-w-full mt-4">
        <thead>
            <tr>
                <th class="border px-4 py-2">ID</th>
                <th class="border px-4 py-2">Nome</th>
                <th class="border px-4 py-2">CPF</th>
                <th class="border px-4 py-2">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td class="border px-4 py-2">{{ cliente.id }}</td>
                <td class="border px-4 py-2">{{ cliente.nome }}</td>
                <td class="border px-4 py-2">{{ cliente.cpf }}</td>
                <td class="border px-4 py-2">
                    <a href="{% url 'clienteUpdate' cliente.id %}"
                        class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Editar</a>
                    <a href="{% url 'clienteDelete' cliente.id %}"
                        class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Excluir</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'clienteCreate' %}"
        class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block">Novo
        Cliente</a>
</div>
{% endblock %}