{% extends "base.html" %}

{% block title %}Lista de Funcionários{% endblock %}

{% block main %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <h1 class="text-2xl font-bold">Lista de Funcionários</h1>
    <table class="min-w-full mt-4">
        <thead>
            <tr>
                <th class="border px-4 py-2">ID</th>
                <th class="border px-4 py-2">Nome</th>
                <th class="border px-4 py-2">CPF</th>
                <th class="border px-4 py-2">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
            <tr>
                <td class="border px-4 py-2">{{ funcionario.id }}</td>
                <td class="border px-4 py-2">{{ funcionario.nome }}</td>
                <td class="border px-4 py-2">{{ funcionario.cpf }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'funcionarioCreate' %}" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block">Novo Funcionário</a>
</div>
{% endblock %}
