<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body class="bg-zinc-900 text-white">
    
    <nav class="bg-zinc-900 shadow border-b border-zinc-700"> 
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center h-16">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <h1 class="text-xl font-bold">Oficina ADS</h1>
                    </div>
                </div>
                <div class="hidden md:flex md:space-x-10">
                    <a href="{% url 'homePage' %}" class="text-gray-300 hover:text-white">Home</a>
                    <a href="{% url 'clienteList' %}" class="text-gray-300 hover:text-white">Clientes</a>
                    <a href="{% url 'funcionarioList' %}" class="text-gray-300 hover:text-white">Funcionários</a>
                    <a href="#" class="text-gray-300 hover:text-white">Fornecedores</a>
                    <a href="#" class="text-gray-300 hover:text-white">Produtos</a>
                </div>
            </div>
        </div>
    </nav>

    {% block main %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
        <h2 class="text-2xl font-bold">Bem-vindo à Oficina ADS</h2>
    </div>
    {% endblock %}

    <script>
        $(document).ready(function() {
            if ($('#id_cep').length) {
                $('#id_cep').mask('00000-000'); 
            }
            if ($('#id_telefone_fixo').length) {
                $('#id_telefone_fixo').mask('(00) 0000-0000'); 
            }
            if ($('#id_telefone_celular').length) {
                $('#id_telefone_celular').mask('(00) 00000-0000'); 
            }
            if ($('#id_cpf').length) {
                $('#id_cpf').mask('000.000.000-00'); 
            }
            if ($('#id_data_nascimento').length) {
                $('#id_data_nascimento').mask('00/00/0000'); 
            }
        });
        
    </script>
</body>
</html>
