{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="text-white text-center py-16 min-h-screen flex flex-col justify-center items-center">
    <h1 class="text-5xl font-extrabold drop-shadow-lg">Oficina ADS</h1>
    <p class="py-4 text-2xl font-light">Desenvolvido por: <span class="font-semibold">Pedro Sawczuk</span></p>
    <div class="mt-6">
        <p class="text-xl">Repositório no GitHub:</p>
        <a href="https://github.com/PedroSawczuk/oficina-project/" target="_blank" class="inline-block mt-4">
            <i class="fa-brands fa-github text-6xl hover:text-gray-300 transition-transform transform hover:scale-110 duration-300"></i>
        </a>
    </div>
</div>
{% endblock %}
